/** FONT **/

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/** BODY **/

body
{
    margin: 0;
    padding: 0;
    background-color: #eee;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Lobster', cursive;
    color: #208a71;
    text-align: center;
    font-size: 3em;
}

/** Header et nav **/
header
{
    margin-top: 0;
    position: relative;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: flex-end;
}

#logo
{
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    height: 150px;
}

nav
{
    background-color: #208a71;
    height : 60px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 5px #999;
}

nav ul
{
    display: flex;
}

nav li
{
    display: inline-block;
    line-height: 60px;
    font-size: 1.5em;
}

header h1
{
    display: none;
}

.endlist
{
    margin-left: auto;
}

nav a
{
    color: white;
    height: 60px;
    display: block;
    background-color: #208a71;
    padding: 0 20px;
    transition: background-color 0.5s;
    text-decoration: none;
}
nav a:hover
{
    color: white;
    text-decoration: none;
    background-color: #40aa91;
}

#login-dropdown-list a
{
    color: black;
    display: inline;
    background-color: white;
}

#login-buttons-password
{
    background: #208a71;
}

#login-buttons
{
    line-height: inherit;
}

#resetbtn
{
    position: absolute;
    bottom:0;
    right:0;
}

.map-container {
  width: 50%;
  max-width: 100%;
  height: 500px;
}

@media only screen and ( max-width: 640px )
{
    nav
    {
        position: relative;
    }
    nav ul
    {
        position: absolute;
        flex-direction: column;
        top: 60px;
        width: 100%;
    }
    nav li
    {
        margin-right: auto;
        min-width: 200px;
    }
    .endlist
    {
        margin: 0;
    }
    #login-buttons
    {
        min-width: 200px;
        text-align: center;
    }
    .left-nav
    {
        text-align: center;
    }
}


/** Contenu **/

main img
{
    width: 100%;
}

main
{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    box-shadow: 1px 1px 3px #aaa;
    margin: 25px 0;
}

main p
{
    font-size: 1.4em;
    width: 90%;
    max-width: 800px;
    text-align: justify;
    margin: 25px auto;
}

main h1
{
    max-width: 1000px;
    text-align: center;
    font-size: 5em;
    font-family: 'Lobster', cursive;
    color: #208a71;
    margin: 25px auto;
}

/** Pinterest like **/

#wrapper
{
    max-width: 60em; /* 960 px */
    margin: 0 auto;
}
#list
{
    width: 103.125%; /* 990px */
    overflow: hidden;
    margin-left: -1.562%; /* 15px */
    margin-bottom: -1.875em; /* 30px */
}
.item
{
    width: 30.303%; /* 300px */
    float: left;
    margin: 0 1.515% 1.875em; /* 15px 30px */
}

@media only screen and ( max-width: 640px )
{
    .item
    {
        width: 46.876%; /* 305px */
        margin-bottom: 0.938em; /* 15px */
    }
}
@media only screen and ( max-width: 500px )
{
    .list
    {
        width: 100%;
        margin-left: 0;
    }
    .item
    {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/** Figure **/

figure
{
    position: relative;
}
figcaption
{
    font-family: 'Lobster', cursive;
    position: absolute;
    bottom: 0;
    background-color: rgba(32, 138, 113, 1);
    width: 100%;
    text-align: center;
    font-size: 3em;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s;
}

figcaption:hover
{
    opacity: 1;
}

figcaption div
{
    margin: auto auto;
    color: white;
}


/** Ville **/

.large_img
{
    max-height: 500px;
    margin: 0 -15px 15px -15px;
    overflow: hidden;
    position: relative;
}

.large_img h1
{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    z-index: 2;
    margin: 0 auto;
}

@media only screen and ( min-width: 1300px )
{
    .large_img h1
    {
        width: 1140px;
    }
}

.overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.map_and_desc
{
    display: flex;
}

.map_and_desc p
{
    margin: auto 15px;
    width: 50%;
}
/** Like **/

.like {
    width: 100px;
    height: 100px;
}